

<div class="col-12 col-md-8 mb-1 mt-2 mx-auto">
  <div class="card">
    <div class="card-body pb-2">
      <h3 class="card-title">{{blog.title}}</h3>
        <p>
        {%if truncate%}  
          {{blog.formatted_markdown | truncatewords:30 | safe}}
        
        {% else%}
          {% autoescape off %}{{blog.formatted_markdown | linebreaks }}{% endautoescape %}
        {% endif%}
        </p>
      <h5 class="small">by {{blog.user}}</h5>

  
          <div class="mt-3 mb-1">
            {% if detail%}
              <button class="btn btn-light border rounded-lg" onclick="window.location.href='{{blog.get_absolute_url}}'">View</button>
            {% else%}  
              {% if request.user.is_authenticated%}
                {% if request.user.is_staff%}
                  <button class="btn btn-light border rounded-lg" onclick="window.location.href='{{blog.get_edit_url}}'">Edit</button>          
                  <button class="btn btn-danger border rounded-lg" onclick="window.location.href='{{blog.get_delete_url}}'">Delete</button>
                {% else %}
                  
                  {% if userCanEdit%}
                    <button class="btn btn-light border rounded-lg" onclick="window.location.href='{{blog.get_edit_url}}'">Edit</button>          
                    <button class="btn btn-danger border rounded-lg" onclick="window.location.href='{{blog.get_delete_url}}'">Delete</button>
            
                  {% endif %}
                {%endif%}
              {%endif%}
            {% endif%}

          </div>

    </div>
  </div>
</div>