{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block head_title %}
Update Blog {{blog.slug}}
{% endblock%}


{% block title%} 
    <div class="d-flex justify-content-center">
        <h2 class="m-4">{{title}}</h2> 
    
    </div>
{%endblock%}
{% block content %} 

    <div class="d-flex justify-content-center "> 

        <form method="post" action="." id="login-form">  {% csrf_token %}
            {{form | crispy}}
            <button class="bnt btn-light border rounded-lg float-right" type="submit">Update Blog</button>
        </form>

        {{form.media}}
    </div>

    <script>
        valid = '{{message}}' 
        if (valid) alert(valid);
    </script>

{% endblock %}}

