
<div class="col-12 col-md-8 mb-1 mt-2 mx-auto">
  <div class="card {% if not blog.is_published and not detail %} bg-dark text-light {% endif %}">
    <div class="card-body pb-2">
      <h1 class="card-title">{{blog.title}}</h3>
        <div>
          {% if truncate%}  
            {{blog.formatted_markdown| truncatechars_html:500 | safe}}
          
          {% else%}
            {{blog.formatted_markdown | safe}}
          {% endif%}

          
          
          <div class="mt-3 mb-1">
            <h5 class="small mt-3 float-right">
              {{blog.get_publish_date}} by {{blog.user}}
            </h5>

            {% if not detail%}
              <button class="btn btn-light border rounded-lg" onclick="window.location.href='{{blog.get_absolute_url}}'">View</button>
            {% else%}  
              {% if request.user.is_authenticated%}
                {% if request.user.is_staff%}
                  <button class="btn btn-light border rounded-lg" onclick="window.location.href='{{blog.get_edit_url}}'">Edit</button>          
                  <button class="btn btn-danger border rounded-lg" onclick="window.location.href='{{blog.get_delete_url}}'">Delete</button>
                {% else %}
                  
                  {% if userCanEdit%}
                    <button class="btn btn-light border rounded-lg" onclick="window.location.href='{{blog.get_edit_url}}'">Edit</button>          
                    <button class="btn btn-danger border rounded-lg" onclick="window.location.href='{{blog.get_delete_url}}'">Delete</button>
            
                  {% endif %}
                {%endif%}
              {%endif%}
            {% endif%}

          </div>
        </div>

    </div>
    
  </div>


  
</div>