{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block head_title %}
Update Blog {{blog.slug}}
{% endblock%}


{% block title%} 
    <div class="d-flex justify-content-center">
        <h2 class="m-4">{{title}}</h2> 
    
    </div>
{%endblock%}
{% block content %} 

    <div class="d-flex justify-content-center w-100">
        <form class="w-75" method="post" action="." id="login-form">  {% csrf_token %}
            {{form | crispy}}
            <button class="bnt btn-light border rounded-lg float-right" type="submit" name='update'>Update</button>
            
            {% if blog.is_published%}
                <button class="bnt btn-danger border mr-2 rounded-lg float-right" type="submit" name='unpublish'>Unpublish</button>

            {% else %}
                <button class="bnt btn-success border mr-2 rounded-lg float-right" type="submit" name='publish'>Publish</button>


            {% endif%}
        </form>

        {{form.media}}
    </div>

    <script>
        valid = '{{message}}' 
        if (valid) alert(valid);
    </script>

{% endblock %}}

